*.o
*.swp
*.swn
*.swo
*.data
*.autosave
*.user

a.out

tags
.tags

build/

results/*.txt
results/*.dat
results/*.pos

alex/bin/nils_test
alex/bin/*.exe
alex/bin/*.txt
alex/bin/*.pos
alex/bin/*.dat

callgrind.*
